<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 col-md-10 col-sm-8 mb-4">
            <div class="card">
                <h2 class="card-header">Booking Successful</h2>
                <div class="card-body">
                    <h5 class="card-title mb-2">Movie Name: {{ticketDetails.movieName}}</h5>
                    <h6 class="card-subtitle mb-1">Theatre Name: {{ticketDetails.theatreName}}</h6>
                    <p class="card-text mb-1">Number of Seats: {{ticketDetails.noOfSeats}}</p>
                    <p class="card-text">Booked Seat Numbers: {{ticketDetails.bookedSeats}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger mb-3" routerLink="/movies">Back</button>
</div>







