<div class="container-sm justify-content-center col-lg-4 mt-5">

  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <div>

      <h2 class="text-center">
        Forgot Password
      </h2>

      <div class="mt-3">
        <label for="loginId">LoginId</label>
        <input class="form-control" placeholder="LoginId" formControlName="loginId" id="loginId" type="text"/>
        <span class="text-danger" *ngIf="(passwordResetForm.controls['loginId'].dirty || passwordResetForm.controls['loginId'].touched)  && passwordResetForm.hasError('required','loginId')">*LoginId is required</span>
      </div>

      <div class="mt-3">
        <label for="newPassword">New Password</label>
        <input class="form-control" placeholder="New Password" formControlName="newPassword" id="newPassword" type="password"/>
        <span class="text-danger" *ngIf="(passwordResetForm.controls['newPassword'].dirty || passwordResetForm.controls['newPassword'].touched)  && passwordResetForm.hasError('required','newPassword')">*New password is required</span>
      </div>

      <div class="mt-3">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input class="form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword" id="confirmNewPassword" type="password"/>
        <span class="text-danger" *ngIf="(passwordResetForm.controls['confirmNewPassword'].dirty || passwordResetForm.controls['confirmNewPassword'].touched)  && passwordResetForm.hasError('required','confirmNewPassword')">*Confirm new password is required</span>
      </div>

      <div class="mt-4 text-center">
        <button class="form-control btn btn-lg btn-primary btn-block border-dark col-lg-12" [disabled]="!passwordResetForm.valid">Reset Password</button>
      </div>

    </div>
  </form>
</div>
